.about-video-container {
    perspective: 1000px;
  }
  
  .about-video-wrapper video {
    transform-origin: center center;
    transform: translateZ(0);
  }
  
  .Header-text-container h1,
  .z-50 h1 {
    mix-blend-mode: difference;
  }
  